*{
    margin: 0%;
    padding: 0%;
    font-size:large;
    /* background-color: 	white; */
    /* background-image:url('Logo3.png') ; */ 
}

.logo{
    /* width: 180px; */
}
.brand-motto{
    color: #C21515;
}

.mb-3 p {
    /* display: table-cell; */
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
  font-weight:600;
}

.col-md-6{
    padding-top: 40px;
    vertical-align:middle ;
    
}

.login-form{
    float: right;
    padding: 15px;
    /* box-shadow: 5px 8px 8px #BADABF; */
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    border-radius: 8px;
    width: 430px;
    /* height: auto; */
    overflow: auto;
    color: #C21515;
}

.card{
    display: block;
    box-shadow: 5px 8px 8px #BADABF;
    border-radius: 8px;
    width: 405px;
    /* height: 230; */
    /* height: auto; */
    overflow: auto;
}

.logo-login{
    display: block;
    float: center;
    padding-top: 70px;
    padding-right: 130px;
}

.text-area{
    display: block;
    padding-top: 30px;
    padding-right: 0px;
    float: right;
    color: #880F0F;
}

.form-control:focus-within{
    border: 1.25px solid #880F0F !important;
}

/* .btn{
    width: 100%;
    background-color: #C21515 !important;
    border: none !important;
}
.btn:hover{
    background-color: #BADABF;
    color: #880F0F !important;
} */
.btn-login{
    width: 100%;
    background-color: #C21515 !important;
    border: none !important;
    border-radius: 10px !important;
}
.btn-login:hover{
    background-color: #BADABF;
    color: #880F0F !important;
}

.btn-regis{
    width: 100%;
    background-color: #BADABF !important;
    border: none !important;
    border-radius: 10px !important;
    color: #C21515 !important;
    
}
.btn-regis:hover{
    background-color:#880F0F !important;
    color: #fff !important;
}